<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>

<body>
  <header>

    <img class="ml-logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">

   <div class="busqueda"> <p class="nav-bar">Buscar productos, marcas</p><span class="lupa"><i class="fa-solid fa-magnifying-glass"></i></span></div>

    
    <div class="cartel-cuotas"><p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p></div>

    <div class="menu-web">
        <div>Ofertas</div>
        <div>Tiendas Oficiales</div>
        <div>Vender</div>
        <div>Ayuda</div>
        <br>
        <div><a href="/register">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></div>
        <div><a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></div>
        <div>Mis compras <i class="fas fa-shopping-basket"></i></div>

    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>
  
      <main>
        
          <form class="registro" action="/" method="GET">
              <p>
                  <input class="ingreso" type="text" name="fullName" id="fullName" placeholder="Nombre y Apellido">
              </p>
              <br>
              <p>
                  <input class="ingreso" type="text" name="userName" id="userName" placeholder="Nombre de Usuario">
              </p>
              <br>
              <p>
                  <input class="ingreso" type="email" name="email" id="email" placeholder="E-mail">
              </p>
              <br>
              <p>
                  <label  for="fechaNacimiento">Fecha de Nacimiento</label><br>
                  <input class="ingreso" type="date" name="birthDate" id="birthDate">
              </p>
              <br>
              <p>
                  <input class="ingreso" type="domicilio" name="domicilio" id="domicilio" placeholder="Domicilio">
              </p>
              <br>
              <p><label for="perfilUsuario" class="regnegrita">Perfil del Usuario</label></p><br>
              <div class="usuario">
                  <p>
                    <label class="profileUsuario"><input class="ingreso" type="radio" name="perfilUsuario" value="comprador" id="comprador">Comprador</label>
                  </p>
                  
                  <p>
                    <label class="profileUsuario"><input class="ingreso" type="radio" name="perfilUsuario" value="vendedor" id="vendedor">Vendedor</label>
                  </p>
              </div><br>
  
  
  
  
  
              <p><label for="intereses" class="regnegrita">Categor¡as de Interes</label></p><br>
              <div class="usuario">
              
  
                <p>
                    <input type="checkbox" value="electro" name="interes" id="electro">
                    <label for="electro">Electro</label>
                </p>
                <p>
                    <input type="checkbox" value="moda" name="interes" id="moda">
                    <label for="moda">Moda</label>
                </p>
                <p>
                    <input type="checkbox" value="hogar" name="interes" id="hogar">
                    <label for="hogar">Hogar</label>
                </p>
                <p>
                    <input type="checkbox" value="jugueteria" name="interes" id="jugueteria">
                    <label for="juguetes">Juguetes</label>
                </p>
                <p>
                    <input type="checkbox" value="vidaSana" name="interes" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </p>
            </div><br>
  
              <p>
                  <label for="fotoUsuario" class="regnegrita">Foto de Usuario</label><br><br>
                  <input type="file" id="foto" name="foto" ></input> 
              </p><br>
  
              <p>
                  <input type="password" name="password" id="password" placeholder="Contraseña" class="ingreso"><br>
                  <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" class="ingreso">
              </p>
  <br>
              <p>
                  <button type="submit" class="ingreso" id="botonIngreso">Enviar</button> 
                  <button type="reset" class="ingreso" id="botonReseteo">Borrar</button>
              </p>
          </form>
      </main>
  
      
      <footer>
        <section>
            <div class="iconos-footer"><i class="fa-sharp fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <div class="iconos-footer"> <i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <div class="iconos-footer"> <i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br>

       <div><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
    </footer>
  </body>
  </html>
  
  